.main__subscribe__container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    >div {
        width: 420px;
        height: 80vh;
        background: var(--container-color);
        padding: 15px;
        position: relative;

        @media screen and (max-width: 420px) {
            width: 100%;
            height: 100%;
        }

        >.close__btn {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;

            >svg {
                >path {
                    stroke: red;
                }
            }
        }

        >.subscribe__content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            height: 100%;
            width: 100%;

            >div {
                width: 100%;

                >input {
                    width: 100%;
                    border: 1px solid var(--title-color);
                    outline: none;
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}