.inCityTrip_main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;


    >.inCityTrip_scroll__container {
        overflow-y: auto;
        height: calc(100vh - 70px - 60px);
    }

}



// PRICE DETAILS SECTION CSS
.price__section {
    >.price_details_content {
        transition: 0.4s;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 0;
        height: 0;
        z-index: var(--z-modal);

        >div {
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(-100%, -100%);
            width: 80%;
            background-color: var(--container-color);
            padding: 10px;
            box-shadow: 1px 1px 15px 0px var(--title-color);
            border-radius: 25px;
            color: var(--text-color);
            transition: 0.4s;

            >.close__modal {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                background: transparent;
                border: none;
                font-size: 20px;


                svg {
                    path {
                        stroke: red;
                    }
                }
            }

            li {
                display: flex;
                line-height: 24px;

                svg {
                    width: 20px;
                    margin-top: 3px;
                    color: var(--blue-color);
                }

                @media screen and (max-width: 450px) {
                    font-size: 14px;

                    svg {
                        margin-top: 5px;
                    }
                }
            }

            @media screen and (max-width: 450px) {
                width: 95%;
            }

        }

    }


    >.price_details_content-active {
        width: 100vw;
        height: 100vh;

        >div {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }



}



// TRIP INPUTS
.trip_inputs {
    margin: 10px 0;

    .input__group {
        display: flex;
        align-items: center;
        height: 30px;
        margin: 10px 0;

        >div {
            background-color: var(--blue-color);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 31px;
            padding: 5px;


            svg {
                font-size: 18px;
                color: var(--container-color);
            }
        }

        input,
        select {
            width: 100%;
            outline: none;
            border: 1px solid var(--text-color);
            padding: 2px 5px;
            border-left: none;
            height: 31px;
            color: var(--text-color);
            font-size: 16px;

            &:focus {
                border-color: var(--blue-color);
            }
        }
    }

    >div>.book__now__btn {
        display: block;
        margin: 25px auto 15px;
        color: var(--container-color);
        background-color: var(--blue-color);
        padding: 7px 25px;
        border: 1px solid var(--blue-color);
        border-radius: 50px;
        transition: 0.3s;

        &:hover {
            color: var(--blue-color);
            background-color: transparent;
        }
    }

}



// BREAKPOINTS - RESPONSIVE
@media screen and (max-width: 767px) {
    .inCityTrip_main__container {
        grid-template-columns: 1fr
    }

    .inCityTrip_scroll__container {
        overflow-y: unset !important;
        height: auto !important;
    }

}