.MonthlyDriver_main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;


    >.MonthlyDriver_scroll__container {
        overflow-y: auto;
        height: calc(100vh - 70px - 60px);
    }

}

// BREAKPOINTS - RESPONSIVE
@media screen and (max-width: 767px) {
    .MonthlyDriver_main__container {
        grid-template-columns: 1fr
    }

    .MonthlyDriver_scroll__container {
        overflow-y: unset !important;
        height: auto !important;
    }

}